.container{
    text-align: center;
}
select{
    font-size: 20px;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

select:hover{
    background-color: rgba(37, 36, 36, 0.925);
    color: white;
}