.div{
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
}

.container {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    
  }
  
  .container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 60px;
    margin-right: 50px;
    transition: opacity 0.3s ease;
  }
  
  
  .name {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #e0e40f; 
    padding: 3px; 
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }
  
  .species{
    position: absolute;
    bottom: -117px;
    left: 0px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(90, 90, 87);
    padding: 40px; 
    padding-right: 191px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    display: inline-block;
  }
  
  .gender{
    position: absolute;
    bottom: -78px;
    left: 200px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .boton{
    position: absolute;
    bottom: 260px;
    right: 50px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: black;
    border: red;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  