.search {
    position: relative;
    left: 1308px;
    background-color: #a1a1a1;
    padding: 10px;
    height: 40px;
    width: 550px;
    font-size: 14px;
    border-radius: 5px;
    color: #333333;
  }

  .bar{
    position: absolute;
    left: 30px;
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: #ffffff;
    margin-top: 5px;
  }

  .boton{
    font-size: 15px;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 420px;
    height: 30px;
    width: 100px;
    background-color: #e4d50e;
    border-radius: 5px;
    border: #ffffff;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .boton:hover {
    background-color: #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .boton:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .boton:active {
    background-color: #666666;
    box-shadow: none;
    transform: translateY(2px);
  }

  .nav{
    background-color: #666666;
  }

  .about{
    position: absolute;
    left: 580px;
    top: 20px;
    height: 30px;
    width: 100px;
    background-color: #18be3cef;
    font-weight: bold;
    border-radius: 5px;
    border: #ffffff;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .home{
    position: absolute;
    left: 700px;
    top: 20px;
    height: 30px;
    width: 100px;
    background-color: #18be3cef;
    font-weight: bold;
    border-radius: 5px;
    border: #ffffff;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .home:hover {
    background-color: #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .home:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .home:active {
    background-color: #666666;
    box-shadow: none;
    transform: translateY(2px);
  }

  .about:hover {
    background-color: #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .about:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .about:active {
    background-color: #666666;
    box-shadow: none;
    transform: translateY(2px);
  }
  .link{
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
