.contenedor {
    background-image: url(../../Assets/login.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}

.form{
    width: 400px;
    position: absolute;
    top: 200px;
    left: 750px;
    border: 2px solid rgb(133, 127, 127);
    background-color: rgb(102, 104, 107);
    border-radius: 10px;
    padding: 20px;
}

.label{
   font-size: 30px; 
   display: flex;
   color: white;
}

.input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: white;
}

